# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment
.venv
v/
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# Database temporary / local files
database/*.db
database/test_attendance.db

# User data snapshots & dynamic uploads
database/snapshots/*
!database/snapshots/.gitkeep

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store
